# Imports

In [1]:
!pip install sklearn
!pip install nltk

Requirement already satisfied: sklearn in /opt/conda/lib/python3.8/site-packages (0.0)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.8/site-packages (from sklearn) (1.0.1)
Requirement already satisfied: numpy>=1.14.6 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: scipy>=1.1.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: nltk in /opt/conda/lib/python3.8/site-packages (3.6.5)
Requirement already satisfied: joblib in /opt/conda/lib/python3.8/site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in /opt/conda/lib/python3.8/site-packages (from nltk) (2021.10.21)
Requirement already satisfied: click in /opt/conda/lib/python3.8/site-packages (from nltk) (8.0.3)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.8/site-packages (from nltk) (4.54.0)

In [30]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
import nltk
from sklearn.naive_bayes import MultinomialNB
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import train_test_split
from sklearn.model_selection import ShuffleSplit, cross_val_score
from sklearn.naive_bayes import BernoulliNB
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

In [31]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /home/jovyan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/jovyan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/jovyan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

# Import Data

In [32]:
df_train = pd.read_csv('ferramenta_competition_train.csv')

In [33]:
df_test = pd.read_csv('ferramenta_competition_test_without_labels.csv')

In [34]:
df_train.head(1)

,image,title,description,class,f0,f1,f2,f3,f4,f5,...,f246,f247,f248,f249,f250,f251,f252,f253,f254,f255
0,181587231.jpg,record irwin irwin record 96 morsa da banco pe...,irwin record 96 morsa da banco per tubi 3 152 mm,_@morsetto_strettoio_,0.0,0.0,0.0,0.254326,0.0,0.2474,...,0.237102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.063287,0.0

In [35]:
df_test.head(1)

,image,title,description,f0,f1,f2,f3,f4,f5,f6,...,f246,f247,f248,f249,f250,f251,f252,f253,f254,f255
0,193298868.jpg,durlach magnat plus morsa da banco con mds 160...,durlach magnat plus morsa da banco con mds 160...,0.084366,0.132483,0.0,0.616159,0.0,0.358702,0.033038,...,0.249871,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.258719,0.0

In [36]:
df_test.describe

<bound method NDFrame.describe of               image                                              title  \
0     193298868.jpg  durlach magnat plus morsa da banco con mds 160...
1     180043630.jpg  sicutool morse da banco universali e per insta...
2     180043573.jpg                    sicutool morse da banco 2854 80
3     199501868.jpg  cassa sovrapponibile norma europa 130 lt base ...
4     147033432.jpg  stanley set di pennelli per decorare 5 pz. 0 2...
...             ...                                                ...
1678  122917523.jpg  wiha 32343 pinzette universali professionali e...
1679  190727967.jpg                         reggimensola cm. 24 rovere
1680  192891248.jpg  vernice spray antiscivolo invisibile safe step...
1681  180850683.jpg                kwb 3180 00 grani cv 120 millimetri
1682  185438057.jpg              meister 5144500 vise 125 mm girevole

                                            description        f0        f1  \
0     durlach magnat plus morsa da banco con mds 160...  0.084366  0.132483
1      largh. ganasce mm 160 apertura mm 225 alt. fr...  0.000000  0.000000
2      largh. ganasce mm 80 apertura max mm 105 peso...  0.011956  0.000000
3     contenitori sovrapponibili norma europa realiz...  0.174531  0.123338
4     stanley set di pennelli per decorare 5 pz. 0 2...  0.350889  0.000000
...                                                 ...       ...       ...
1678  wiha 32343 pinzette universali professionali e...  0.231079  0.499572
1679  staffa reggi mensola in metallo con copertura ...  0.266649  0.416199
1680  bombola spray antiscivolo da ml 400. rimedio i...  0.091990  0.174466
1681                kwb 3180 00 grani cv 120 millimetri  0.205065  0.412812
1682              meister 5144500 vise 125 mm girevole   0.000000  0.000000

            f2        f3   f4        f5        f6  ...      f246  f247  f248  \
0     0.000000  0.616159  0.0  0.358702  0.033038  ...  0.249871   0.0   0.0
1     0.198770  0.908536  0.0  0.123547  0.000000  ...  0.337951   0.0   0.0
2     0.000000  0.457699  0.0  0.141502  0.000000  ...  0.388767   0.0   0.0
3     0.005443  0.593127  0.0  0.036032  0.378701  ...  0.000000   0.0   0.0
4     0.000000  0.721987  0.0  0.254078  0.299150  ...  0.445638   0.0   0.0
...        ...       ...  ...       ...       ...  ...       ...   ...   ...
1678  0.000000  0.922107  0.0  0.151559  0.032079  ...  0.271363   0.0   0.0
1679  0.000000  0.800616  0.0  0.569619  0.303016  ...  0.175905   0.0   0.0
1680  0.000000  0.000000  0.0  0.827507  0.108458  ...  0.440010   0.0   0.0
1681  0.000000  0.644887  0.0  0.184130  0.019073  ...  0.190503   0.0   0.0
1682  0.000000  0.570114  0.0  0.277864  0.514845  ...  0.417533   0.0   0.0

      f249      f250  f251      f252      f253      f254      f255
0      0.0  0.000000   0.0  0.000000  0.000000  0.258719  0.000000
1      0.0  0.195993   0.0  0.000000  0.003187  0.147880  0.148991
2      0.0  0.000000   0.0  0.000000  0.084646  0.000000  0.129974
3      0.0  0.000000   0.0  0.171820  0.000000  0.000000  0.000000
4      0.0  0.000000   0.0  0.005650  0.000000  0.030347  0.000000
...    ...       ...   ...       ...       ...       ...       ...
1678   0.0  0.000000   0.0  0.000000  0.000000  0.243675  0.000000
1679   0.0  0.000000   0.0  0.097449  0.000000  0.098140  0.000000
1680   0.0  0.000000   0.0  0.213713  0.000000  0.358742  0.000000
1681   0.0  0.000000   0.0  0.000000  0.000000  0.117879  0.000000
1682   0.0  0.000000   0.0  0.000000  0.000000  0.028844  0.184699

[1683 rows x 259 columns]>

In [37]:
y = df_train['class']

In [38]:
y.describe()

count                     2524
unique                      16
top       _@staffa_squadretta_
freq                       285
Name: class, dtype: object

In [39]:
X = df_train.drop(columns = ['class', 'image'])

#drop image descriptorb
#X = X.drop(columns = [f'f{i}' for i in range(256)])

#split data
#X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [40]:
X.head(1)

,title,description,f0,f1,f2,f3,f4,f5,f6,f7,...,f246,f247,f248,f249,f250,f251,f252,f253,f254,f255
0,record irwin irwin record 96 morsa da banco pe...,irwin record 96 morsa da banco per tubi 3 152 mm,0.0,0.0,0.0,0.254326,0.0,0.2474,0.0,0.039258,...,0.237102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.063287,0.0

In [41]:
#X_train.head(1)

In [42]:
#print(y_train.head(1), '\n')
#y_train.describe()

# Preprocessing

In [43]:
from re import search
def my_pre_processer(text, debug = False):
    stopwords_it = stopwords.words('italian')
    results = []
    if (debug):
        print("Tokenizer result: ", tokenizer(text))
    for token in tokenizer(text):
        clean_token = token.lower().strip('-').strip('_')
        if remove_stops_here and (clean_token in stopwords_it):
          continue
        #token_pro = stemmer.stem(clean_token) #podemos probar stemming en vez de lematizacion
        token_pro = lemmatizer.lemmatize(clean_token) 
        if len(token_pro) > 2 and not token_pro[0].isdigit() and not bool(search(r'\d', token_pro)): #elimina palabra largo menor a 2
            results.append(token_pro)
    return results

In [44]:
X.head(1)

,title,description,f0,f1,f2,f3,f4,f5,f6,f7,...,f246,f247,f248,f249,f250,f251,f252,f253,f254,f255
0,record irwin irwin record 96 morsa da banco pe...,irwin record 96 morsa da banco per tubi 3 152 mm,0.0,0.0,0.0,0.254326,0.0,0.2474,0.0,0.039258,...,0.237102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.063287,0.0

In [45]:
remove_stops_here = False
tokenizer = TfidfVectorizer().build_tokenizer()
lemmatizer = WordNetLemmatizer()
# X['description_processed'] = X['description'].apply(my_pre_processer)

In [46]:
#X.head(3)

In [47]:
ngram_max = 4
max_features = 10000 # 10mil numeros reales
max_df=0.8
min_df=1

stopwords_it = stopwords.words('italian')+['avra', 'avro', 'fara', 'faro', 'perche', 'piu', 'quantum', 'sara', 'saro', 'stara', 'staro']
# vectorizer = TfidfVectorizer(stop_words = stopwords_it, tokenizer=my_pre_processer,min_df=min_df, max_df=max_df, max_features=max_features,
#                               binary=False, use_idf=True, smooth_idf=True, norm=None, ngram_range=(1, ngram_max))

vectorizer = TfidfVectorizer(stop_words = stopwords_it, tokenizer=my_pre_processer, min_df=min_df, max_df=max_df, max_features=max_features,
                             binary=False, use_idf=True, smooth_idf=True, norm=None,#, ngram_range=(1, ngram_max),
                             strip_accents = 'unicode', lowercase = True, 
                            )

In [48]:
vocabulary = X['description'].append(df_test['description'])
vocabulary.describe()

count                                                  4207
unique                                                 3788
top       vernice spray brillante a rapida essicazione p...
freq                                                     48
Name: description, dtype: object

In [49]:
#create vocabulary
vectorizer.fit(vocabulary)

/opt/conda/lib/python3.8/site-packages/sklearn/feature_extraction/text.py:516: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

TfidfVectorizer(max_df=0.8, max_features=10000, norm=None,
                stop_words=['ad', 'al', 'allo', 'ai', 'agli', 'all', 'agl',
                            'alla', 'alle', 'con', 'col', 'coi', 'da', 'dal',
                            'dallo', 'dai', 'dagli', 'dall', 'dagl', 'dalla',
                            'dalle', 'di', 'del', 'dello', 'dei', 'degli',
                            'dell', 'degl', 'della', 'delle', ...],
                strip_accents='unicode',
                tokenizer=<function my_pre_processer at 0x40b164fca0>)

In [50]:
# process X
X_vectorized = vectorizer.transform(X['description'])
X_vectorized.shape

(2524, 4218)

In [51]:
train_feature_names = vectorizer.get_feature_names()
dense = X_vectorized.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=train_feature_names)

/opt/conda/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [52]:
X_tmp = X
image_data = X_tmp.drop(columns = ['title', 'description'])
#image_data.describe()
# scaler = MinMaxScaler(feature_range=(0, 1))
# scaled = scaler.fit_transform(image_data)
# image_data = pd.DataFrame(scaled, columns = [f'f{i}' for i in range(0, 256)])

In [53]:
df = pd.concat([df, image_data], axis=1).reindex(df.index)
df.head(1)

,abbattibile,abbattibili,abbinamento,abbinare,abbrennspachtel,abr,abracs,abrasione,abrasiva,abrasive,...,f246,f247,f248,f249,f250,f251,f252,f253,f254,f255
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.237102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.063287,0.0

# Model

In [54]:
model = MultinomialNB(alpha = 0.85)

In [55]:
cv = ShuffleSplit(n_splits=5, test_size=0.33, random_state=0)

In [56]:
params = np.linspace(0.0, 1.0, num=5)

In [57]:
cross_val_score(model, df, y, cv=cv)

array([0.89915966, 0.91236495, 0.88595438, 0.90876351, 0.89555822])

In [58]:
print(dasd)

NameError: name 'dasd' is not defined

## Testing

In [59]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.33, random_state=0)

In [60]:
model.fit(X_train, y_train)

MultinomialNB(alpha=0.85)

In [61]:
model.score(X_test, y_test)

0.8991596638655462

## Run classification

In [ ]:
X_test_vect = vectorizer.transform(df_test['description'])
X_test_vect.shape

In [ ]:
test_feature_names = vectorizer.get_feature_names()
len(test_feature_names)

In [ ]:
test_feature_names = vectorizer.get_feature_names()
dense = X_test_vect.todense()
denselist = dense.tolist()
x_data = pd.DataFrame(denselist, columns=test_feature_names)

In [ ]:
x_data.head(1)

In [ ]:
X_tmp = df_test
image_data = X_tmp.drop(columns = ['title', 'description', 'image'])
image_data.head(1)

In [ ]:
x_data = pd.concat([x_data, image_data], axis=1).reindex(x_data.index)
x_data.head(1)

In [ ]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

In [ ]:
x_data = clean_dataset(x_data)
x_data.shape

In [ ]:
x_data.head(1)

In [ ]:
y_pred = model.predict(x_data)
y_pred

In [ ]:
images = df_test['image']
images

In [ ]:
import csv

In [ ]:
print(dasdasda)

In [ ]:
with open('submisson.csv', 'w', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(['image', 'class'])
    
    for i in range(images.shape[0]):
        writer.writerow([images[i], y_pred[i]])

In [ ]:
a = 0
for elem in train_feature_names:
    if elem not in test_feature_names:
        a += 1
a

In [ ]:
a = 0
for elem in test_feature_names:
    if elem not in train_feature_names:
        a += 1
a

In [ ]:
len(train_feature_names)

In [ ]:
len(test_feature_names)